<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    {% include 'common/apps_header.html'%}

    <div class="container">
        <div class="row">
                <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <h1>Name: {{doctor.name}}</h1>
                <h2>Specialty: {{doctor.specialty}}</h2>
            </div>
            <a class="btn btn-primary" href="{% url 'doctor-update' doctor.id%}">Edit</a>
        </div>
    </div>

    {% include 'common/footer.html' %}

</body>
</html>