<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    {% include 'common/apps_header.html'%}

    <form method="post">
        {% csrf_token %}
        <h1>Are you sure you want to delete {{doctor.name}}</h1>
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                    <input type="submit" class="btn btn-danger" value="Confirm">
                    <a class="btn btn-primary" href="{% url 'all-doctors' %}">All doctors</a>
            </div>
        </div>
    </form>

    {% include 'common/footer.html' %}

</body>
</html>