<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {% include 'common/header.html'%}

    <div class="container">
        <div class="row">
             {% if patients|length > 0 %}
                 {% for patient in patients %}
                <div class="col-lg-4" style="margin-top:1%">
                     <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <h5><span>Patient name:</span> {{ patient.patient_name }}</h5>
                      <h5>Room number: {{ patient.room_number }}</h5>
                  </div>
                </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
                <h1 class="text-center">There are no received patients!</h1>
            {% endif %}
    </div>

    {% include 'common/footer.html' %}

</body>
</html>
</html>




