<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {% include 'common/apps_header.html'%}

    <div class="container">
        <div class="row">
             {% for doctor in doctors  %}
            <div class="col-lg-4">
                 <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                  <h5>Doctor: {{doctor.name}}</h5>
                <p class="card-text">Specialty: {{doctor.specialty}}</p>
              </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% include 'common/footer.html' %}

</body>
</html>
</html>