<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid" style="background-colour: blue">
    <div class="row">
    <div class="col-lg-3"></div>
    <div class="cool-lg-6"></div>

        <form style="border: 1px solid blue margin: 10% 0%; padding: 10% 5%" method="post">
            <h2>Sign up</h2>
          {% csrf_token %}
          {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Sign up</button>
            <span>You have an account?<a href="{% url 'login' %}" style="colour:orange">Login here</a></span>
        </form>

    </div>
</div>
</body>
</html>