<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row">
                <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <p class="card-text">Record</p>
                  <h5 class="card-title">{{enrollment.doctor_name}}</h5>
                  <h5>Patient name: {{enrollment.patient_name}}</h5>
                  <h5>Symptoms: {{enrollment.symptoms}}</h5>
                  <h5>Diagnosis: {{enrollment.diagnosis}}</h5>
                  <h5>Received: {{enrollment.received_at}}</h5>
                  <h5>Treating dr.: {{enrollment.signed_out}}</h5>
                  <h5>Room: {{enrollment.room_number}}</h5>
                <a class="btn btn-primary" href="{% url 'enrollment-update' enrollment.id%}">Edit</a>
            </div>

        </div>
    </div>
</body>
</html>